<!-- new changes  -->


<div class="caption">
  <div class="text-center extraBtn">
    <h2>ROLE MASTER</h2>


  </div><!-- Extra btn end -->

</div><!-- Caption end -->
<div class="containerScroll">


  <div class="row no-gutters">
    <div class=" col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

      <div class="grayPanel mb-2">
        <div class="form-row align-items-center mx-1">

          <div class="pull-right">
            <button title="Add" alt="add" class="pointerBtn btn-primary-spacing" (click)="addNewRoleMaster()">Add
            </button>
            <button name="submit" title="Save" value="ngSubmit btn-primary-spacing" (click)="saveAllRoleMaster()"
              class="pointerBtn">Save
            </button>
          </div>

        </div>
      </div>

      <div class="table-responsive">

        <table class="table table-bordered ">
          <caption></caption>

          <thead>
            <tr>
              <th id="User_Id" rowspan="2" title="User Id"> ROLE ID</th>

              <th id="User Name" rowspan="2" title="User Name">ROLE NAME</th>


              <th id="Status" rowspan="2" title="Status">STATUS</th>

            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let roleMaster of roleMasterList ;index as i;">
              <td id="roleId">

                <input type="text" [(ngModel)]="roleMaster.roleId">
              </td>
              <td id="roleName">

                <input type="text" [(ngModel)]="roleMaster.roleName">

              </td>
              <td id="userRoleStatus">


                <select id="role status" [(ngModel)]="roleMaster.userRoleStatus" class="w-50">
                  <option *ngFor="let status of statusList" [ngValue]="status">
                    {{ status }}
                  </option>
                </select>
              </td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div><!-- col-lg-4 end-->
  <!--table-responsive end-->
  <!-- col-lg-4 end-->
  <!--table-responsive end-->
</div>